@model Services_Booking_System.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "User Registration";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <center>
                                <img width=100px src="imgs/generaluser.png" class="auto-style1" />
                            </center>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <center>
                                <h4>User Registration</h4>
                            </center>
                        </div>
                    </div>
                    <hr>
                    <form method="post">
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-12">

                                <label>Full Name</label>

                                <div class="form-group">
                                    <input asp-for="FullName" class="form-control" />
                                    <span asp-validation-for="FullName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Gender</label>

                                <div class="form-group">
                                    Male
                                    <input asp-for="Gender" type="radio" value="Male" name="Gender" />
                                    Female
                                    <input type="radio" value="Female" name="Gender" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Email ID*</label> &nbsp;

                                <div class="form-group">

                                    <input asp-for="Email" class="form-control" />
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>Password</label> &nbsp;
                                <div class="form-group">

                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label>Confirm Password</label> &nbsp;
                                <div class="form-group">

                                    <input asp-for="ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label>Contact No</label> &nbsp;
                                <div class="form-group">

                                    <input asp-for="PhoneNumber" class="form-control" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Full Address</label>
                                <div class="form-group">

                                    <input asp-for="Address" class="form-control" />
                                    <span asp-validation-for="Address" class="text-danger"></span>
                                </div>
                            </div>
                        </div><br />
                        <div class="row">
                            <div class="col mx-auto">
                                <center>
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-primary">SignUp</button>
                                    </div>
                                </center>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <center>
            <br />
            <asp:HyperLink CssClass="btn btn-primary ml-lg-2" ID="HyperLink1" NavigateUrl="~/Home.aspx" runat="server">Back to Home</asp:HyperLink>
        </center>
    </div>
</div>
<br />
